name: check-pr

on: [pull_request]

jobs:
  check-pr:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
    - name: install dependencies
      run: yarn
    - name: lint
      run: yarn lint
    - name: tsc
      run: yarn tsc
    - name: tests
      run: CI=true yarn test
